.form{
    max-width: 390px;
    
    border-radius: 5px;
    color: white;
    
    position: relative;
	
	// elements
    &:after{
        content: '';
        position: absolute -5px;
        z-index: 10;
        
        border-radius: inherit;
        background-image: linear-gradient($color__green_light, $color__green_dark);
    }
	&__{
        &content{
            position: relative;
            z-index: 20;
            
            padding: 40px;
            
            border-radius: inherit;
            background-image: linear-gradient($color__green_dark, $color__green_light);
        }
        &title{
            font-size: 1.875rem;
            font-weight: 700;
            
            text-align: center;
        }
		&field{
            display: block;
            
            width: 100%;
            height: 60px;
            padding: 0 .75rem;
            margin: 20px 0;
            
            line-height: 60px;
            
            border-radius: 5px;
            background: #fff;
            color: black;
        }
        &button{
            display: block;
            width: 100%;
        }
        &note:not(:empty){
            margin-top: 1rem;
            margin-bottom: -1rem;
            
            font-size: 1rem;
            
            text-align: center;
            color: darkred;
        }
	}
}