<form class="form" action="mail.php" method="POST">
    <div class="form__content">
        <div class="form__title">Оставьте зявку и мы перезвоним!</div>
        <input type="text" name="name" class="form__field" placeholder="Введите Ваше Имя" required>
        <input type="email" name="email" class="form__field" placeholder="Ваш email" required>
        <input type="tel" name="tel" class="form__field" placeholder="Ваш номер телефона" required>
        <button class="form__button button button_primary">Связаться с нами</button>
        <div class="form__note"></div>
    </div>
</form>