.reasons{
    
    font-weight: 700;
    
	// elements
	&__{
        &title{
            font-size: 1.5rem;
            
            text-align: center;
            
            &:after{
                content: '';
                display: inline-block;
                width: 280px;
                margin: 1rem 0;
                
                border-bottom: 2px solid $color__primary;
            }
        }
		&reason{
            margin: 1rem 1em;
            
            position: relative;
            
            &:before{
                content: '';
                position: absolute .5em * * -1em;
                
                border: 5px solid;
                border-radius: 50%;
            }
        }
	}
}