<div class="reasons">
    <div class="reasons__title">Почему панельно-каркасный дом?</div>
    <div class="reasons__reason">Стоимость от 16 000 рублей за кв.м</div>
    <div class="reasons__reason">Возведение за 1 месяц от фундамента до дома, в котором можно жить</div>
    <div class="reasons__reason">Панельно-каркасные конструкции дома сетрифицированы в системе - <span class="i-rosstroysert"></span> “РОССТРОЙСЕРТИФИКАЦИЯ”</div>
</div>