<div class="social">
    <a href="https://vk.com/atlasteh" class="social__link" target="_blank">
        <span class="i-social-vk"></span>
    </a>
    <a href="#" class="social__link">
        <span class="i-social-in"></span>
    </a>
    <a href="#" class="social__link">
        <span class="i-social-fb"></span>
    </a>
    <a href="#" class="social__link">
        <span class="i-social-tw"></span>
    </a>
</div>