.button{
    display: inline-block;
    
    height: 60px;
    padding: 0 2rem;
    
    line-height: 60px;
    font-size: 1.25rem;
    font-weight: 700;
    
    text-align: center;
    border-radius: 5px;
	background: $color__primary;
    box-shadow: 3px 4px color($color__primary l(-10%));
    
    transition: .4s;
    
    position: relative;
    overflow: hidden;
    
    // mods
    &:hover{
        background-image: linear-gradient($color__green_light, $color__green_dark);
        cursor: pointer;
        
        &:after{
            content: none;
        }
    }
    
    // elements
    &:after{
        content: '';
        position: absolute 0 0 * 0;
        height: 50px;
        transform: translateY(-50%);
        
        background: color(white a(.1));
        border-radius: 50%;
    }
}