.menu{
    
    display: flex;
    
    @media (--tablet-less) {
        flex-wrap: wrap;
    }
	
	// elements
	&__{
		&item{
            padding: .5rem;
            border-bottom: 1px solid white;
            
            font-size: 14px;
            
            @media (--tablet-less) {
                width: 50%;
                text-align: center;
            }
            
            &:hover{
                text-decoration: none;
            }
            &._active{
                border-bottom-width: 2px;
                border-bottom-color: $color__primary;
            }
        }
	}
}