<div class="menu">
    <a href="#benefits" class="menu__item">НАШИ ТЕХНОЛОГИИ</a>
    <a href="#steps" class="menu__item">НАШ ПОДХОД</a>
    <a href="#features" class="menu__item">НАШИ ПРИНЦИПЫ</a>
    <a href="#outro" class="menu__item">ОСТАВИТЬ ЗАЯВКУ</a>
</div>