.l-col{
	
	// mods
    @media (--tablet-more) {
        &_size_{
            &1{
                lost-column: 1/12;
            }
            &2{
                lost-column: 2/12;
            }
            &3{
                lost-column: 3/12;
            }
            &4{
                lost-column: 4/12;
            }
            &5{
                lost-column: 5/12;
            }
            &6{
                lost-column: 6/12;
            }
            &7{
                lost-column: 7/12;
            }
            &8{
                lost-column: 8/12;
            }
            &9{
                lost-column: 9/12;
            }
            &10{
                lost-column: 10/12;
            }
            &11{
                lost-column: 11/12;
            }
        }
    }
}