[class*=i-]{
	display: inline-block;
}
[class^='i-']:before,
[class*=' i-']:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	background-image: url(img/icons.png);
}
.i-calc:before {
	width: 26px;
	height: 27px;
	background-position: -506px -362px;
}
.i-chat:before {
	width: 33px;
	height: 33px;
	background-position: -266px -411px;
}
.i-clock:before {
	width: 32px;
	height: 32px;
	background-position: -342px -411px;
}
.i-contract:before {
	width: 41px;
	height: 44px;
	background-position: -266px -362px;
}
.i-earth:before {
	width: 32px;
	height: 32px;
	background-position: -379px -411px;
}
.i-edit_property:before {
	width: 128px;
	height: 128px;
	background-position: -133px -362px;
}
.i-feature1:before {
	width: 176px;
	height: 176px;
	background-position: 0px 0px;
}
.i-feature2:before {
	width: 176px;
	height: 176px;
	background-position: -181px 0px;
}
.i-feature3:before {
	width: 176px;
	height: 176px;
	background-position: 0px -181px;
}
.i-feature4:before {
	width: 176px;
	height: 172px;
	background-position: -362px 0px;
}
.i-feature5:before {
	width: 176px;
	height: 173px;
	background-position: -181px -181px;
}
.i-hourglass:before {
	width: 22px;
	height: 33px;
	background-position: -266px -449px;
}
.i-key:before {
	width: 55px;
	height: 55px;
	background-position: -362px -289px;
}
.i-logo:before {
	width: 157px;
	height: 107px;
	background-position: -362px -177px;
}
.i-loop:before {
	width: 128px;
	height: 128px;
	background-position: 0px -362px;
}
.i-medal:before {
	width: 33px;
	height: 32px;
	background-position: -304px -411px;
}
.i-project:before {
	width: 45px;
	height: 46px;
	background-position: -422px -289px;
}
.i-quest:before {
	width: 32px;
	height: 32px;
	background-position: -416px -411px;
}
.i-roller:before {
	width: 41px;
	height: 43px;
	background-position: -312px -362px;
}
.i-rosstroysert:before {
	width: 25px;
	height: 23px;
	background-position: -453px -411px;
}
.i-social-fb:before {
	width: 30px;
	height: 30px;
	background-position: -471px -362px;
}
.i-social-in:before {
	width: 31px;
	height: 30px;
	background-position: -400px -362px;
}
.i-social-tw:before {
	width: 37px;
	height: 30px;
	background-position: -358px -362px;
}
.i-social-vk:before {
	width: 30px;
	height: 30px;
	background-position: -436px -362px;
}
.i-tools:before {
	width: 43px;
	height: 44px;
	background-position: -472px -289px;
}
