<div class="g-section">
    <div class="g-section__title">
        <h2 class="g-section__content"></h2>
    </div>
    <div class="g-section__inner">
        <div class="g-section__content"></div>
    </div>
</div>