.g-section{
    overflow: hidden;
	
	// elements
	&__{
		&content{
            width: 100%;
            max-width: calc($content + 2rem);
            margin: 0 auto;
            padding-left: 1rem;
            padding-right: 1rem;
            
            @media (--desktop-only) {
                max-width: 1024px;
            }
            @media (--tablet-only) {
                max-width: 768px;
            }
            @media (--tablet-less) {
                max-width: 320px;
            }
        }
        &title{
            padding: 1em 0 0;
            
            font-size: 2.25rem;
            
            text-align: center;
            text-transform: uppercase;
            color: $color__primary;
            
            &:after{
                content: '';
                display: block;
                
                width: 180px;
                margin: .5em auto;
                border-bottom: 2px solid;
                color: color($color__primary l(+15%));
            }
            
            @media (--desktop-less) {
                font-size: 1.75rem;
            }
            @media (--tablet-less) {
                font-size: 1.5rem;
            }
        }
        &subtitle{
            margin: 0 0 3rem;
            
            font-size: 24px;
            
            text-align: center;
        }
        &note{
            margin: 0 0 3rem;
            
            text-align: center;
        }
	}
}