.features{
	
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    @media (--widedesktop-less) {
        justify-content: space-around;
    }
    
	// elements
	&__{
		&feature{
            max-width: 180px;
            
            text-align: center;
            
            &:not(:last-child){
                margin-left: 1rem;
            }
        }
        &preview{
            padding-bottom: 15px;
            margin-bottom: -10px;
            
            background: url(img/shadow.png) center bottom no-repeat;
        }
        &title{
            line-height: 1.25;
        }
	}
}