<div class="g-section">
    <div class="g-section__title">
        <h2 class="g-section__content">Наши принципы</h2>
    </div>
    <div class="g-section__subtitle">
        <div class="g-section__content">Мы строим дома, которые нравятся нам самим и помогаем клиенту принять оптимальные решения на всех стадиях строительства</div>
    </div>
    <div class="g-section__inner">
        <div class="g-section__content">
            <div class="features">
                <div class="features__feature">
                    <div class="features__preview">
                        <div class="i-feature1"></div>
                    </div>
                    <p class="features__title">Только в установленные сроки</p>
                </div>
                <div class="features__feature">
                    <div class="features__preview">
                        <div class="i-feature2"></div>
                    </div>
                    <p class="features__title">Только из экологически чистых материалов</p>
                </div>
                <div class="features__feature">
                    <div class="features__preview">
                        <div class="i-feature3"></div>
                    </div>
                    <p class="features__title">Только руками профессионалов</p>
                </div>
                <div class="features__feature">
                    <div class="features__preview">
                        <div class="i-feature5"></div>
                    </div>
                    <p class="features__title">Контроль на каждом этапе строительных работ</p>
                </div>
                <div class="features__feature">
                    <div class="features__preview">
                        <div class="i-feature4"></div>
                    </div>
                    <p class="features__title">Мы всегда открыты к общению <br><a href="https://vk.com/atlasteh ">https://vk.com/atlasteh </a></p>
                </div>
            </div>
        </div>
    </div>
</div>