.footer{
    min-height: 70px;
    
    background: $color__gray;
    color: color(white a(.9));
    
    display: flex;
    align-items: center;
    
	// elements
	&__{
        &content{
            width: 100%;
            height: 100%;
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            @media (--tablet-less) {
                flex-direction: column;
                
                padding: 1rem 0;
            }
            
            &:before{
                content: '';
                min-width: 100px;
            }
        }
		&social{
            text-align: center;
            
            @media (--tablet-less) {
                margin-top: 1rem;
            }
        }
	}
}