<div class="g-section footer">
    <div class="g-section__content footer__content">
        <div class="footer__copyright">
            ООО “Атластех” 2016 г.
        </div>
        <div class="footer__social">
            Мы в соц.сетях:
            <import src="social"></import>
        </div>
    </div>
</div>