.lock{
	overflow: hidden;
}
.popup{
	position: fixed 0;
	z-index: 1000;
    
	background: rgba(0,0,0,.4);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    // mods
    &:not(._open){
        display: none;
    }
    
    // elements
    &__{
        &overlay{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
        &content{
            position: relative;
            z-index: 1;
            box-sizing: border-box;
            margin: 50px 2rem;
            background: #fff;
        }
        &close{
            position: absolute -5px -5px * *;
            z-index: 100;
            
            padding: 10px;
            
            font-size: 36px;
            font-weight: 700;
            line-height: .5;
            
            color: $color__green_light;
            cursor: pointer;
            
            &:after{
                content: '+';
                display: block;
                transform: rotate(45deg);
            }
        }
    }
}