.header{
    position: fixed 0 0 * 0;
    z-index: 100;
    
    padding: .5rem 0;
    
    color: white;
    
    @media (--desktop-less) {
        position: static !important;
    }
	
    // mods
    @media (--desktop-more) {
        &._active{
            height: 80px;
            
            background: color(black a(.5));
            
            align-items: center;
        }
        &._active &__{
            &title,
            &social{
                display: none;
            }
            &logo{
                height: 40px;
                transform: scale(.6);
            }
        }
    }
    
	// elements
	&__{
        &content{
            height: 100%;
            
            display: flex;
            justify-content: space-between;
            
            @media (--desktop-less) {
                align-items: center;
                flex-direction: column;
            }
        }
        &logo{
            transform-origin: 0 0;
            
            @media (--desktop-less) {
                transform-origin: center 0;
                transform: scale(.5);
                margin-bottom: -50px;
            }
        }
		&info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            @media (--desktop-less) {
                margin: 1rem 0;
            }
        }
        &title{
            
            font-size: 24px;
            font-weight: 700;
            
            text-shadow: 1px 1px 0 color(black a(.8));
            
            display: flex;
            align-items: center;
            justify-content: center;
            
            @media (--desktop-more) {
                flex: 1 0 0%;
            }
            @media (--tablet-less) {
                display: none;
            }
        }
        &contacts{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &links{
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            margin-bottom: -.5rem;
            
            @media (--desktop-more) {
                flex: 1 0 0%;
            }
            @media (--desktop-less) {
                margin-bottom: 1rem;
            }
            
        }
        a&link{
            font-size: 21px;
            margin-top: .25em;
        }
        &social{
            filter: brightness(0) invert(100%);
        }
	}
}