<div class="header">
    <div class="g-section__content header__content">
        <div class="header__logo">
            <div class="i-logo"></div>
        </div>
        <div class="header__info">
            <div class="header__title">Мы строим дома, которые нравятся нам самим</div>
            <div class="header__menu">
                <import src="menu"></import>
            </div>
        </div>
        <div class="header__contacts">
            <div class="header__links">
                <import src="phone"></import>
                <a href="maito:sales@atlasteh.ru" class="header__link phone">sales@atlasteh.ru</a><br>
            </div>
            <div class="header__social">
                <import src="social"></import>
            </div>
        </div>
    </div>
</div>