<div class="included">
    <div class="included__item">
        <div class="included__icon i-quest"></div>
        <div class="included__text">Ответим на ворпросы</div>
    </div>
    <div class="included__item">
        <div class="included__icon i-chat"></div>
        <div class="included__text">Рассажем о технологии</div>
    </div>
    <div class="included__item">
        <div class="included__icon i-calc"></div>
        <div class="included__text">Расчитаем стоимость</div>
    </div>
</div>