.included{
    
    margin-right: 2rem;
    
    @media (--tablet-less) {
        margin-right: 0;
    }
	
	// elements
	&__{
		&item{
            padding: .5rem 0;
            
            font-weight: 700;
            
            display: flex;
            align-items: center;
            
            @media (--tablet-less) {
                justify-content: center;
            }
            
            &:not(:last-child) {
                border-bottom: 2px solid $color__primary;
            }
        }
        &icon{
            width: 60px;
            
            text-align: center;
        }
	}
}