.intro{
    
    background-image: url(img/intro.jpg);
    background-size: cover;
    background-position: center;
    background-color: black;
    color: white;
    
	// elements
	&__{
		&content{
            min-height: 100vh;
            padding-top: 120px;
            padding-bottom: 20px;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            
            @media (--desktop-less) {
                padding-top: 20px;
            }
        }
        &title{
            margin: 10% 0;
            
            font-size: 2.25rem;
            
            text-align: center;
            text-shadow: 1px 2px 0 color(black a(.7));
            
            @media (--tablet-less) {
                font-size: 2rem;
                line-height: 1;
            }
        }
        &included{
            float: right;
            
            display: flex;
            flex-direction: column;
            
            @media (--tablet-less) {
                width: 100%;
                margin-bottom: 1rem;
            }
        }
        &button{
            display: block;
            
            margin-top: 1rem;
            
            @media (--tablet-less) {
                order: -1;
                margin-bottom: 1rem;
            }
        }
        &col{
            &:last-child{
                @media (--tablet-less) {
                    order: -1;
                }
            }
        }
        &footer{
            margin: 1rem 0 2rem;
        }
	}
}