<div class="g-section">
    <div class="g-section__inner intro">
        <div class="g-section__content intro__content">
            <import src="header"></import>
            <h1 class="intro__title">Мы построим для Вас дом, о котором <br>Вы мечтали всю жизнь!</h1>
            <div class="intro__footer l-row">
                <div class="intro__col l-col_size_6">
                    <import src="reasons"></import>
                </div>
                <div class="intro__col l-col_size_6">
                    <div class="intro__included">
                        <import src="included"></import>
                        <a class="intro__button button button_primary" onclick="popup.open('callback')">Связаться с нами</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>