$step__height: 170px;
.steps{
    min-height: 565px;
    
    background-image: linear-gradient(90deg,
            color(white a(.9)) 0%,
            color(white a(.9)) 50%,
            transparent
        ),
        url(img/bg-2.jpg);
    background-position: center;
    background-size: cover;
    
    display: flex;
    align-items: center;
    
    @media (--tablet-less) {
        padding: 0 0 2rem;
    }
    
    &:after{
        content: '';
        display: inline-block;
        
        min-height: inherit;
        height: 100%;
    }
	
	// elements
	&__{
        &grid{
            display: flex;
            align-items: flex-end;
            
            @media (--tablet-less) {
                flex-direction: column;
                margin: 1rem 0;
            }
        }
        &item{
            text-align: center;
            
            @media (--tablet-less) {
                width: 100%;
                border: 0 !important;
                
                &:not(:last-child):after{
                    content: 'v';
                    display: inline-block;
                    
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 1;
                    
                    color: $color__primary
                }
            }
            &:first-child{
                border-left: 2px solid $color__primary;
            }
        }
        &time{
            padding: 0 50px 0 20px;
            
            font-weight: 700;
            
            color: $color__primary;
            
            @media (--widedesktop-less) {
                padding: 0 20px 0 10px;
            }
            @media (--tablet-less) {
                padding: 20px 20px 0 !important;
            }
        }
        &arrow{
            min-height: $step__height;
            padding: 0 50px 0 20px;
            
            padding-top: 30px !important;
            padding-bottom: 30px !important;
            
            border-width: 2px 0 2px 0;
            border-style: solid;
            border-color: $color__primary;
            
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            @media (--widedesktop-less) {
                padding: 0 20px 0 10px;
            }
            @media (--tablet-less) {
                padding: 0 20px;
                border-width: 2px;
            }
            
            &:before,
            &:after{
                content: '';
                position: absolute 50% 2px * *;
                size: calc($step__height / 2 + 3px) 2px;
                
                background: $color__primary;
                
                @media (--tablet-less) {
                    content: none;
                }
            }
            &:before{
                transform-origin: right bottom;
                transform: rotate(75deg);
            }
            &:after{
                transform-origin: right top;
                transform: rotate(-75deg);
            }
        }
        &item:last-child &arrow{
            padding-right: 20px;
            
            &:after,
            &:before{
                margin-right: -23px;
            }
        }
        &half{
            height: calc($step__height / 2 - 2);
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            @media (--widedesktop-less) {
                padding: 0 35px 0 25px;
                margin: 0 -35px 0 -25px;
            }
            @media (--tablet-less) {
                width: 100%;
            }
            
            &:first-child{
                border-bottom: 2px solid $color__primary;
                margin-bottom: -2px;
                margin-top: -30px;
            }
            &:last-child{
                margin-bottom: -30px;
            }
        }
        &name{
            margin-top: .5rem;
        }
	}
}