<div class="g-section ">
    <div class="g-section__title">
        <h2 class="g-section__content">Наш подход</h2>
    </div>
    <div class="g-section__inner steps">
        <div class="g-section__content">
            <div class="steps__grid">
                <div class="steps__item">
                    <div class="steps__time"></div>
                    <div class="steps__arrow">
                        <div class="i-contract"></div>
                        <div class="steps__name">Заключение <br>договора</div>
                    </div>
                </div>
                <div class="steps__item">
                    <div class="steps__time">от 1 недели</div>
                    <div class="steps__arrow">
                        <div class="i-project"></div>
                        <div class="steps__name">Проектирование</div>
                    </div>
                </div>
                <div class="steps__item">
                    <div class="steps__time">2 недели</div>
                    <div class="steps__arrow">
                        <div class="steps__half">
                            <div class="steps__name">Фундамент</div>
                        </div>
                        <div class="steps__half">
                            <div class="steps__name">Производство <br>конструкций</div>
                        </div>
                    </div>
                </div>
                <div class="steps__item">
                    <div class="steps__time">1 неделя</div>
                    <div class="steps__arrow">
                        <div class="i-tools"></div>
                        <div class="steps__name">Сборка дома</div>
                    </div>
                </div>
                <div class="steps__item">
                    <div class="steps__time">от 2 недель</div>
                    <div class="steps__arrow">
                        <div class="i-roller"></div>
                        <div class="steps__name">Отделка</div>
                    </div>
                </div>
                <div class="steps__item">
                    <div class="steps__time"></div>
                    <div class="steps__arrow">
                        <div class="i-key"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>