<div class="g-section">
    <div class="g-section__title">
        <h2 class="g-section__content">Наши технологии</h2>
    </div>
    <div class="g-section__note">
        <div class="g-section__content">
            <mark>Панельно-каркасное домостроение – это возведение домов, состоящих из стандартных конструкций,</mark><br>
            <mark>которые производятся на заводе и собираются на заранее подготовленном фундаменте</mark>
        </div>
    </div>
    <div class="g-section__inner">
        <div class="g-section__content l-row">
            <div class="benefits__col">
                <img src="img/house.png" alt="" class="benefits__house">
            </div>
            <div class="benefits__col">
                <h3 class="benefits__title">Основные преимущества:</h3>
                <div class="benefits__list">
                    <div class="benefits__benefit">
                        <div class="benefits__icon">
                            <div class="i-clock"></div>
                        </div>
                        <div class="benefits__name">Быстрота возведения</div>
                    </div>
                    <div class="benefits__benefit">
                        <div class="benefits__icon">
                            <div class="i-medal"></div>
                        </div>
                        <div class="benefits__name">Стандартные конструкции — контроль качества на производстве</div>
                    </div>
                    <div class="benefits__benefit">
                        <div class="benefits__icon">
                            <div class="i-earth"></div>
                        </div>
                        <div class="benefits__name">Экологически чистые материалы</div>
                    </div>
                    <div class="benefits__benefit">
                        <div class="benefits__icon">
                            <div class="i-hourglass"></div>
                        </div>
                        <div class="benefits__name">Долговечность</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>