.benefits{
	
	// elements
	&__{
        &col{
            
            position: relative;
            
            @media (--tablet-more) {
                lost-column: 1/2 0 20px;
            }
        }
        &house{
            position: absolute * 0 * *;
            
            @media (--tablet-less) {
                display: none;
            }
        }
        &list{
            margin: 0 0 3rem;
        }
		&benefit{
            margin: 20px 0;
            
            display: flex;
            align-items: center;
        }
        &icon{
            min-size: 70px;
            margin: 0 20px 0 0;
            
            line-height: 64px;
            
            border-radius: 50%;
            
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            
            &:before,
            &:after{
                content: '';
                
                border-radius: inherit;
            }
            &:after{
                position: absolute 0;
                z-index: -20;
                
                background-image: linear-gradient($color__green_light, $color__green_dark);
                background-color: $color__green_dark;
            }
            &:before{
                position: absolute 2px;
                z-index: -10;
                
                background: white;
            }
        }
	}
}