<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>АтласТех | Мы строим дома, которые нравятся нам самим</title>
	<link rel="stylesheet" href="styles.css">
	<link rel="shortcut icon" href="img/favicon.png">
    <import src="modules/g-errors/g-errors.head.htm"></import>
	
	<script src="async.bundle.js" async></script>
	<script src="defer.bundle.js" defer></script>
</head>