.outro{
    min-height: 510px;
    padding: 35px 0;
    
    background-image: url(img/outro.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    
    display: flex;
    align-items: stretch;
	
	// elements
	&__{
		&content{
            display: flex;
            align-items: center;
            justify-content: space-around;
            
            @media (--tablet-less) {
                flex-direction: column;
            }
        }
        &info{
            @media (--tablet-less) {
                margin-bottom: 2rem;
            }
        }
        &title{
            border-bottom: 2px solid $color__primary;
            font-size: 2.25rem;
            font-weight: 700;
            text-transform: uppercase;
        }
        &link{
            display: inline-block;
            font-size: 24px;
            
            color: inherit;
            
            &:not(:last-child){
                margin-top: .5em;
            }
        }
	}
}