<div class="g-section">
    <div class="g-section__title">
        <h2 class="g-section__content">Оставить заявку</h2>
    </div>
    <div class="g-section__inner outro">
        <div class="g-section__content outro__content">
            <div class="outro__info">
                <div class="outro__title">Есть вопросы? <br>Звоните по <br>телефону</div>
                <a href="tel:+74959674123" class="outro__link">+7 495 967 41 23</a><br>
                <a href="mailto:sales@atlasteh.ru" class="outro__link">sales@atlasteh.ru</a>
            </div>
            <div class="outro__form">
                <import src="form"></import>
            </div>
        </div>
    </div>
</div>